 Детальная и комплексная кластеризация спиртных напитков объемом 0.7 л, которые продаются в сети ["КуулКлевер"](https://www.coolclever.ru/catalog/otdokhni/all?filters=11099%255B0%255D%3D10%2611099%255B1%255D%3D11%2611099%255B2%255D%3D9%2611099%255B3%255D%3D12%2611099%255B4%255D%3D17%2611099%255B5%255D%3D13%2611099%255B6%255D%3D14%2611099%255B7%255D%3D15%2611099%255B8%255D%3D16%2611099%255B9%255D%3D43%2611109%255B0%255D%3D0.700&sort=cheap&page=9), с помощью различных методов машинного обучения.

In [ ]:
# Объявляю нужные библиотеки
import pandas as pd # Библиотека для работы с фреймворками
from sklearn.preprocessing import LabelEncoder # Объект разметки текстовых данных

In [63]:
# Загрузка датасета из csv-файла
df = pd.read_csv('CoolClever.csv', sep=',')
df

   Напиток  Цена             Страна  Крепость  Выдержка  Подарочная упаковка
0    Водка   490             Россия      40.0         0                    0
1    Водка   490             Россия      40.0         0                    0
2    Водка   490             Россия      40.0         0                    0
3    Водка   539             Россия      40.0         0                    0
4    Водка   539             Россия      40.0         0                    0
..     ...   ...                ...       ...       ...                  ...
81   Виски  3250          Шотландия      40.0        10                    1
82   Виски  3300                США      40.0         3                    0
83  Бренди  3300            Франция      40.0         3                    1
84   Виски  2000  Северная Ирландия      40.0         3                    0
85   Виски  3490          Шотландия      40.0        10                    1

[86 rows x 6 columns]

In [64]:
# Разметка текстовых данных в таблице
le = LabelEncoder()
df['Напиток'] = le.fit_transform(df['Напиток'])
df['Страна'] = le.fit_transform(df['Страна'])

In [65]:
# Информация о датасете
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Напиток              86 non-null     int64
 1   Цена                 86 non-null     int64
 2   Страна               86 non-null     int64
 3   Крепость             86 non-null     float64
 4   Выдержка             86 non-null     int64
 5   Подарочная упаковка  86 non-null     int64
dtypes: float64(1), int64(5)
memory usage: 4.2 KB

In [66]:
# Описание датасета
df.describe()

,Напиток,Цена,Страна,Крепость,Выдержка,Подарочная упаковка
count,86.000000,86.000000,86.000000,86.000000,86.000000,86.000000
mean,4.546512,1724.720930,7.325581,39.341860,2.081395,0.127907
std,2.628607,803.545345,3.890991,3.835637,2.586004,0.335945
min,0.000000,490.000000,0.000000,17.000000,0.000000,0.000000
25%,3.000000,1191.500000,5.000000,40.000000,0.000000,0.000000
50%,4.000000,1659.000000,8.000000,40.000000,2.000000,0.000000
75%,6.000000,2290.000000,10.000000,40.000000,3.000000,0.000000
max,10.000000,3490.000000,12.000000,47.000000,12.000000,1.000000

In [67]:
# Корреляционные зависимости
corr = df.corr()
corr

,Напиток,Цена,Страна,Крепость,Выдержка,Подарочная упаковка
Напиток,1.000000,-0.086717,-0.428244,-0.274874,-0.473915,-0.080090
Цена,-0.086717,1.000000,0.185535,0.020647,0.542894,0.566868
Страна,-0.428244,0.185535,1.000000,0.145303,0.590124,0.273774
Крепость,-0.274874,0.020647,0.145303,1.000000,0.157520,0.120878
Выдержка,-0.473915,0.542894,0.590124,0.157520,1.000000,0.367052
Подарочная упаковка,-0.080090,0.566868,0.273774,0.120878,0.367052,1.000000