 Детальная и комплексная кластеризация спиртных напитков объемом 0.7 л, которые продаются в сети ["КуулКлевер"](https://www.coolclever.ru/catalog/otdokhni/all?filters=11099%255B0%255D%3D10%2611099%255B1%255D%3D11%2611099%255B2%255D%3D9%2611099%255B3%255D%3D12%2611099%255B4%255D%3D17%2611099%255B5%255D%3D13%2611099%255B6%255D%3D14%2611099%255B7%255D%3D15%2611099%255B8%255D%3D16%2611099%255B9%255D%3D43%2611109%255B0%255D%3D0.700&sort=cheap&page=9), с помощью различных методов машинного обучения.

In [45]:
# Объявляю нужные библиотеки
import pandas as pd # Библиотека для работы с фреймворками

In [46]:
# Загрузка датасета из csv-файла
df = pd.read_csv('CoolClever.csv', sep=',')
df

   Напиток  Цена             Страна  Крепость  Выдержка  Подарочная упаковка
0    Водка   490             Россия      40.0         0                    0
1    Водка   490             Россия      40.0         0                    0
2    Водка   490             Россия      40.0         0                    0
3    Водка   539             Россия      40.0         0                    0
4    Водка   539             Россия      40.0         0                    0
..     ...   ...                ...       ...       ...                  ...
81   Виски  3250          Шотландия      40.0        10                    1
82   Виски  3300                США      40.0         3                    0
83  Бренди  3300            Франция      40.0         3                    1
84   Виски  2000  Северная Ирландия      40.0         3                    0
85   Виски  3490          Шотландия      40.0        10                    1

[86 rows x 6 columns]

In [47]:
# Информация о датасете
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86 entries, 0 to 85
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Напиток              86 non-null     object
 1   Цена                 86 non-null     int64
 2   Страна               86 non-null     object
 3   Крепость             86 non-null     float64
 4   Выдержка             86 non-null     int64
 5   Подарочная упаковка  86 non-null     int64
dtypes: float64(1), int64(3), object(2)
memory usage: 4.2+ KB

In [48]:
# Описание датасета
df.describe()

              Цена   Крепость   Выдержка  Подарочная упаковка
count    86.000000  86.000000  86.000000            86.000000
mean   1724.720930  39.341860   2.081395             0.127907
std     803.545345   3.835637   2.586004             0.335945
min     490.000000  17.000000   0.000000             0.000000
25%    1191.500000  40.000000   0.000000             0.000000
50%    1659.000000  40.000000   2.000000             0.000000
75%    2290.000000  40.000000   3.000000             0.000000
max    3490.000000  47.000000  12.000000             1.000000