 Детальная и комплексная кластеризация спиртных напитков объемом 0.7 л, которые продаются в сети ["КуулКлевер"](https://www.coolclever.ru/catalog/otdokhni/all?filters=11099%255B0%255D%3D10%2611099%255B1%255D%3D11%2611099%255B2%255D%3D9%2611099%255B3%255D%3D12%2611099%255B4%255D%3D17%2611099%255B5%255D%3D13%2611099%255B6%255D%3D14%2611099%255B7%255D%3D15%2611099%255B8%255D%3D16%2611099%255B9%255D%3D43%2611109%255B0%255D%3D0.700&sort=cheap&page=9), с помощью различных методов машинного обучения.

In [337]:
# Объявляю нужные библиотеки
import pandas as pd # Библиотека для работы с фреймворками
from sklearn.preprocessing import LabelEncoder # Объект разметки текстовых данных

In [338]:
# Загрузка датасета из csv-файла
df = pd.read_csv('CoolClever.csv', sep=',')
df

    Напиток   Цена     Страна  Крепость  Выдержка  Подарочная упаковка
0     Водка    490     Россия      40.0       0.0                    0
1     Водка    490     Россия      40.0       0.0                    0
2     Водка    490     Россия      40.0       0.0                    0
3     Водка    539     Россия      40.0       0.0                    0
4     Водка    539     Россия      40.0       0.0                    0
..      ...    ...        ...       ...       ...                  ...
185  Коньяк  13000    Франция      40.0      10.0                    1
186  Коньяк  11490    Франция      40.0      10.0                    1
187  Коньяк  17500    Франция      40.0      35.0                    1
188   Виски  17800  Шотландия      56.1      14.0                    1
189  Коньяк  12900    Франция      40.0      10.0                    1

[190 rows x 6 columns]

In [339]:
# Разметка текстовых данных в таблице
le = LabelEncoder()
df['Напиток'] = le.fit_transform(df['Напиток'])
df['Страна'] = le.fit_transform(df['Страна'])
df

     Напиток   Цена  Страна  Крепость  Выдержка  Подарочная упаковка
0          4    490       7      40.0       0.0                    0
1          4    490       7      40.0       0.0                    0
2          4    490       7      40.0       0.0                    0
3          4    539       7      40.0       0.0                    0
4          4    539       7      40.0       0.0                    0
..       ...    ...     ...       ...       ...                  ...
185        7  13000      10      40.0      10.0                    1
186        7  11490      10      40.0      10.0                    1
187        7  17500      10      40.0      35.0                    1
188        3  17800      13      56.1      14.0                    1
189        7  12900      10      40.0      10.0                    1

[190 rows x 6 columns]

In [340]:
# Информация о датасете
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Напиток              190 non-null    int64
 1   Цена                 190 non-null    int64
 2   Страна               190 non-null    int64
 3   Крепость             190 non-null    float64
 4   Выдержка             190 non-null    float64
 5   Подарочная упаковка  190 non-null    int64
dtypes: float64(2), int64(4)
memory usage: 9.0 KB

In [341]:
# Описание датасета
df.describe()

,Напиток,Цена,Страна,Крепость,Выдержка,Подарочная упаковка
count,190.000000,190.000000,190.000000,190.000000,190.000000,190.000000
mean,4.568421,4495.989474,8.557895,41.268947,5.434211,0.463158
std,2.787548,3772.330708,3.711033,5.070700,6.383025,0.499958
min,0.000000,490.000000,0.000000,17.000000,0.000000,0.000000
25%,3.000000,1792.250000,7.000000,40.000000,1.000000,0.000000
50%,4.000000,3200.000000,10.000000,40.000000,3.000000,0.000000
75%,7.000000,5967.500000,10.000000,41.375000,10.000000,1.000000
max,11.000000,17800.000000,13.000000,58.900000,40.000000,1.000000

In [342]:
# Корреляционные зависимости
corr = df.corr()
corr

,Напиток,Цена,Страна,Крепость,Выдержка,Подарочная упаковка
Напиток,1.000000,-0.041490,-0.277858,-0.308311,-0.249160,-0.053231
Цена,-0.041490,1.000000,0.315516,0.386682,0.792699,0.669399
Страна,-0.277858,0.315516,1.000000,0.315813,0.364192,0.339087
Крепость,-0.308311,0.386682,0.315813,1.000000,0.219888,0.316676
Выдержка,-0.249160,0.792699,0.364192,0.219888,1.000000,0.531861
Подарочная упаковка,-0.053231,0.669399,0.339087,0.316676,0.531861,1.000000